.header {
  padding: 9px 20px;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;

  .flex {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header_nav {
    background: #1f1f1f;
  }
  .header_top {
    display: flex;
    padding: 16px 70px;
    justify-content: space-between;
    align-items: center;

    p {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    img {
      cursor: pointer;
    }
  }
  .title {
    max-width: 230px;
    width: 100%;
  }

  .pho {
    max-width: 145px;
    width: 100%;
    text-wrap: nowrap;
  }
  .logos {
    width: 160px;
    height: 70px;
  }
  img {
    object-fit: contain;
    display: block;
    cursor: pointer;
  }

  .fav {
    position: relative;
    cursor: pointer;
    span {
      color: white;
      position: absolute;
      bottom: -4px;
      right: -5px;
      width: 17px;
      height: 17px;
      background: #770015;
      border-radius: 50px;
      font-size: 10px;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .img1 {
    display: none;
  }
  .logos {
    width: 120px;
    object-fit: contain;
  }
  .header_top {
    padding: 16px 20px;
    p {
      font-size: 12px;
    }
  }
}
