.hoverImg {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.3);
  backdrop-filter: blur(5px);
  transition: 0.3s all ease-in-out;
  opacity: 0;
  img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
    display: block;
  }
}
.productImg {
  position: relative;
  cursor: pointer;
  &:hover {
    .hoverImg {
      opacity: 1;
    }
  }
}

.counter{
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  button{
    padding: 6px 25px !important;
    margin: 0 !important;
  }
  input{
    padding: 6px 2px;
        border: 1px solid #e6e6e6;
        outline: none;
        max-width: 60px;
        width: 100%;
        text-align: center;
        font-weight: 600;

  }
}

.active {
  background: #770015 !important;
  color: #ffffff !important;
  transition: 0.2s all ease-in-out;
}
.productCard {
  max-width: 283px;
  width: 100%;
  p {
    padding-top: 8px;
    color: #1f1f1f;
  }
  .price {
    color: #1f1f1f;
    font-family: Montserrat;
    font-size: 18px;

    font-weight: 700;
    line-height: 18px;
    padding: 7px 0 10px;
    span {
      color: #f00;
      font-family: Montserrat;
      font-size: 10px;

      font-weight: 400;
      line-height: 18px; /* 180% */
      text-decoration: line-through;
      padding-left: 4px;
    }
  }
}
.mainImg {
  height: 412px;
  width: 100%;
  display: block;
}
.desc {
  p {
    color: #1c1c1c;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;

    font-weight: 400;

    max-width: 147px;
    width: 100%;
    margin: 0 auto;
  }
  ul {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  li {
    width: 36px;
    height: 36px;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 14px;

    font-weight: 500;

    border: 1px solid #e6e6e6;
    cursor: pointer;
    &:hover {
      background: rgb(242, 242, 242);
      transition: 0.2s all ease-in-out;
    }
  }
}

.checkoutPage {
  display: flex;
  max-width: unset;
  gap: 40px;

  .productImg {
    flex-basis: 25%;
  }
  p {
    text-align: left;
    margin: 0;
    font-size: 18px;
    max-width: unset;
    padding-top: 0;
  }
  ul {
    justify-content: flex-start;
  }
  .price {
    padding: 16px 0;
  }
  button {
    padding: 14px 45px;
    background: #770015;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;

    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .checkoutPage {
    flex-direction: column;
    .mainImg {
      height: 400px;
      object-fit: contain;
    }
  }
}
